*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body{
     margin: auto;
     padding: auto;
     position: relative;
     height: auto;
}
.nav_bar{
    height: 8%;
    width: 100%;
    background-color: #4287f5;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.nav_div{
    height: 50px;
    width: 120px;
    background-color: #33ff57;
    border-radius: 10px;
    border: 1px solid black;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    margin-right: 15px;
  
}
.nav_div:hover{
    background-image: linear-gradient(to top,lightgreen,lightblue);
    color: red;
    width: 150px;
    font-family: Jokerman;
    transition: 1s;
    text-decoration: none;
}
.nav_a{
    text-decoration: none;
    font-family: inherit;
    
}
.nav_a:hover{
    text-decoration: none;
   
    
}
.heading{
    position: absolute;
    left: 20;
    font-family: Matura MT Script Capitals;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    transition: 2s,5s;
}
.heading:hover{
    color: red;
    
    
}
.logoa{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}      
#carousel{
    height: 70%;
    width: 80%;
    
    position: absolute;
    top: 8%;
    left: 10%;
    background-color: red;
}
#contact{
    height: 450px;
    width: 300px;
    border: 2px solid black;
    margin: auto;
    position: relative;
    position: absolute;
    top: 120%;
    left: 40%;
    background-color: olive;
    
            }
.btn{
    height: 40px;
    width: 80px;
    background-color: blue;
    border:1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 4%;
    color: white;
    text-align: center;
 
}
            .about_card{
            
            }
            .about_card_img{

            }
            .about_mme{
                
            }

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  position: absolute;
  top: 8%;
  left: 6%;
}


.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 6.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 5.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.5s;
  animation-name: fade;
  animation-duration: 5.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.detailes{
    height: 50%;
    width: 80%;
    
}
#footer{
    height: 8%;
    width: 100%;
    background-color: cadetblue;
    color: black;
    position: absolute;
    top: 200%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;

}
